{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User Signup</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('home') }}">
            Back
        </a>
    </li>
</ul>
{% endblock %}
