{% extends '::base.html.twig' %}
{% block title %}User Login{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
    </script>
{% endblock %}
{% block body -%}
<div class="row col-md-6">
	{% if error %}
		<div class="alert alert-info">
			<strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
	{% endif %}
	<div class="block">
		<form action="{{ path('auth_check') }}" method="post">
		<div class="content np">
			<div class="controls-row">
				<div class="col-md-3"><label for="username">Username:</label></div>
				<div class="col-md-9"><input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" /></div>
			</div>
			<div class="controls-row">
				<div class="col-md-3"><label for="password">Password:</label></div>
				<div class="col-md-9"><input type="password" id="password" name="_password" class="form-control" /></div>
			</div>
			
		</div>
		<input value="Login" type="submit" name="login" class="btn btn-primary" />
		<a href="{{ path('user_new') }}" class="btn btn-primary" >Signup</a>
		</form>
	</div>
</div>

{% endblock %}